<!-- Styles -->
<style>

    /* Header Toolbar
    #docs-site-header {
    }
    */

    /* Body */
    div.container {
        max-width: 1440px;
    }

    /* Quillscript syntax highlighting */
    .language-q .token.comment {
        color: #ff0000;
        font-style: italic;
    }

    .language-q .token.keyword {
        color: #569cd6;
        font-weight: bold;
    }

    .language-q .token.string {
        color: #ce9178;
    }

    .language-q .token.number {
        color: #b5cea8;
    }

</style>


<!-- Scripts -->
<script>

// Observe for PrismJS to be loaded to inject the QuillScript language definition
let value;
Object.defineProperty(window, 'Prism', {
    get() { return value; },

    set(newValue) {
        value = newValue;

        // Timer to check if PrismJS is loaded
        let interval = setInterval(() => {
            if (typeof Prism !== 'undefined') {
                // Create QuillScript language definition for PrismJS
                // This is done replacing the Q language definition
                Prism.languages.q = {
                    'comment': /#.*/,

                    'string': {
                        pattern: /"(?:\\.|[^"\\])*"/,
                        greedy: true,
                    },

                    'keyword': /\b(if|else|return|function)\b/,
                    'number': /\b\d+(?:\.\d+)?\b/,
                    'operator': /[+\-*\/=<>!]/,
                };

                // Stop the loop
                clearInterval(interval);

                // Refresh PrismJS highlighting
                Prism.highlightAll();
            }
        }, 50);
    },
});

</script>


<!-- Page Header Content -->
<div>



</div>