<!-- Styles -->
<style>

    /* Header Toolbar
    #docs-site-header {
    }
    */

    /* Body */
    div.container {
        max-width: 1440px;
    }

    .blueprint {
        color: #197dcf;
    }

    .cpp {
        color: #fa9d52;
    }

    .api {
        padding: 15px;
        border: 1px solid #EEEEEE;
        border-radius: 8px;
        background-color: #FBFBFB;
    } .api h3 {
        padding-bottom: 10px;
        border-right: 3px solid #854be9;
    }

    /* --- Quillscript syntax highlighting --- */

    /* Dialogue */
    .language-q .token.dialogue .token.dash.punctuation {
        color: #0e4a8f;
        font-weight: bold
    }
    .language-q .token.dialogue .token.text, .dialogue {
        color: #349df3;
        font-weight: bold
    }

    /* Option */
    .language-q .token.option .token.asterisk.punctuation {
        color: #811818;
        font-weight: bold
    }
    .language-q .token.option .token.text, .option {
        color: #ef5350;
        font-weight: bold
    }

    /* Label */
    .language-q .token.label .token.symbol.keyword {
        color: #ad1457;
        font-weight: bold
    }
    .language-q .token.label .token.text, .label {
        color: #b64168;
        font-weight: bold
    }
    .language-q .token.label {
        color: #5f3542;
        font-weight: bold
    }

    /* Router */
    .language-q .token.router .token.arrow.keyword {
        color: #472399;
        font-weight: bold
    }
    .language-q .token.router .token.text, .router {
        color: #854be9;
    }

    /* Command */
    .language-q .token.command .token.dollar.keyword {
        color: #2e7d32;
        font-weight: bold
    }
    .language-q .token.command .token.text, .command {
        color: #60a863;
        font-weight: bold
    }

    /* Condition */
    .language-q .token.condition .token.keyword.keyword {
        color: #008f9c;
        font-weight: bold
    }
    .language-q .token.condition .token.text, .condition {
        color: #5a989e;
        font-weight: bold
    }

    /* Directive */
    .language-q .token.directive .token.tilde.punctuation, .directive {
        color: #fbc02d;
        font-weight: bold
    }
    .language-q .token.directive .token.name.keyword {
        color: #FFF176;
        font-weight: bold
    }

    /* Comment */
    .language-q .token.comment, .comment {
        color: #4A4A4A;
        font-weight: "italic"
    }

    /* Instructions */
    .language-q .text.text {
        color: #7e99a7;
    }

    .language-q .token.tag .token.hash.punctuation {
        color: #be5a09;
    }
    .language-q .token.tag .token.name.tag, .tag {
        color: #fa9d52;
    }

    /* Richtext */
    .language-q .token.operator.operator {
        color: #226fff;
    }
    /* .language-q .token.text.text {
        color: #99defd;
    } */
    /* .language-q .token.punctuation.separator.key-value {
        color: #99defd;
    } */

    /* Operators */
    .language-q .token.concatenation.operator {
        color: #303030;
        font-weight: bold
    }
    .language-q .token.punctuation.punctuation {
        color: #BBBBBB;
    }

    /* Number */
    .language-q .token.number.number {
        color: #008f9c;
    }

    /* Variable */
    .language-q .token.name.variable {
        color: #99defd;
    }

    /* Definition */
    /* .language-q .token.variable.other.global {
        color: #FFF59D;
    } */

    /* Delay */
    /* .language-q .token.variable.delay {
        color: #455A64;
    } */

    /* Parameter */
    /* .language-q .token.parameter {
        color: #475f3c;
        font-weight: "italic"
    } */

    /* Keyword */
    .language-q, .keyword {
        color: #0059ff;
    }

    /* Enumerator */
    /* .language-q .token.variable.other.enummember {
        color: #238dec;
    } */

</style>


<!-- Scripts -->
<script>

// Observe for PrismJS to be loaded to inject the QuillScript language definition
let value;
Object.defineProperty(window, 'Prism', {
    get() { return value; },

    set(newValue) {
        value = newValue;

        let interval = setInterval(() => {
            if (typeof Prism !== 'undefined') {
                // Create QuillScript language definition for PrismJS
                // This is done replacing the Q language definition
                Prism.languages.q = {
                    'comment': {
                        'pattern': /\/\/.*|\/\*[\s\S]*?\*\//,
                        'greedy': true,
                        'inside': {
                            'title': {
                                'pattern': /\b(SCENE|ACT|CHAPTER|SCRIPT|TITLE|HEADER|BOOK|NAME|PART|SECTION|FILE|BRANCH)\b[ -Z]+/,
                                'alias': 'important'
                            },
                            'brackets': {
                                'pattern': /[{}]/,
                                'alias': 'punctuation'
                            }
                        }
                    },
                    'directive': {
                        'pattern': /[ \t]*~\s\w+.*?(?=\||\/\/|\n)/m,
                        'inside': {
                            'tilde': { 'pattern': /~/, 'alias': 'punctuation' },
                            'name': { 'pattern': /\w+/, 'alias': 'keyword' }
                        }
                    },
                    'router': {
                        'pattern': /[ \t]*(->|<->).+?(?=\||\/\/|\n)/,
                        'inside': {
                            'arrow': { 'pattern': /->|<->/, 'alias': 'keyword' },
                            'text': { 'pattern': /.*/ }
                        }
                    },
                    'dialogue': {
                        'pattern': /^[ \t]*-.*?(?=\||\/\/|\n)/m,
                        'inside': {
                            'dash': { 'pattern': /^-/, 'alias': 'punctuation' },
                            'text': { 'pattern': /.*/ }
                        }
                    },
                    'option': {
                        'pattern': /^[ \t]*\*.*$/m,
                        'inside': {
                            'asterisk': { 'pattern': /^\*/, 'alias': 'punctuation' },
                            'text': { 'pattern': /.+/, 'alias': 'string' }
                        }
                    },
                    'label': {
                        'pattern': /[ \t]*(@|<@>).+?(?=\||\/\/|\n)/,
                        'inside': {
                            'symbol': { 'pattern': /@|<@>/, 'alias': 'keyword' },
                            'text': { 'pattern': /.*/ }
                        }
                    },
                    'command': {
                        'pattern': /[ \t]*\$.*?(?=\||\/\/|\n)/,
                        'inside': {
                            'dollar': { 'pattern': /\$/, 'alias': 'keyword' },
                            'text': { 'pattern': /.*/ }
                        }
                    },
                    'condition': {
                        'pattern': /[ \t]*\? ?(?:if:|elseif:|else|endif).+?(?=\||\/\/|\n)/,
                        'inside': {
                            'keyword': { 'pattern': /\? ?(?:if|elseif|else|endif)/, 'alias': 'keyword' },
                            'text': { 'pattern': /.*/ }
                        }
                    },
                    'tag': {
                        'pattern': /#[a-zA-Z_]\w*/,
                        'inside': {
                            'hash': { 'pattern': /#/, 'alias': 'punctuation' },
                            'name': { 'pattern': /\w+/, 'alias': 'tag' }
                        }
                    },
                    'string': {
                        'pattern': /"([^"\\]|\\.)*"|'([^'\\]|\\.)*'/,
                        'greedy': true,
                        'alias': 'string'
                    },
                    'variable': {
                        'pattern': /{[a-zA-Z_]\w*}/,
                        'inside': {
                            'braces': { 'pattern': /[{}]/, 'alias': 'punctuation' },
                            'name': { 'pattern': /[a-zA-Z_]\w*/, 'alias': 'variable' }
                        }
                    },
                    'number': {
                        'pattern': /\b\d+(\.\d+)?\b/,
                        'alias': 'number'
                    },
                    'operator': {
                        'pattern': /=|~|===|!==|==|!=|>=|<=|<|>|\+|-|\*|\/|%|\^|&&|\|\|/,
                        'alias': 'operator'
                    },
                    'punctuation': {
                        'pattern': /[{}()\[\],.;]/,
                        'alias': 'punctuation'
                    },
                    'concatenation': {
                        'pattern': /\|/,
                        'alias': 'operator'
                    },
                    'definition': {
                        'pattern': /\[[^\s]+\]/,
                        'alias': 'constant'
                    },
                    'delay': {
                        'pattern': /\(\([^()\s]+\)\)/,
                        'alias': 'variable'
                    },
                    'keyword': {
                        'pattern': /\b(true|false|on|off|null|nullptr)\b/,
                        'alias': 'keyword'
                    },
                    'arguments': {
                        'pattern': /\([^()]*\)/,
                        'inside': {
                            'braces': { 'pattern': /[()]/, 'alias': 'punctuation' },
                            'parameter': { 'pattern': /\w+/, 'alias': 'variable' },
                            'separator': { 'pattern': /,/, 'alias': 'punctuation' }
                        }
                    },
                    'richtext': {
                        'pattern': /<\/?[^\s>\/]+(?:\s+[^\s>]+(?:=(?:"[^"]*"|'[^']*'|[^\s"'=<>`]+))?)*\s*\/?>/m,
                        'inside': {
                            'tag-name': {
                                'pattern': /^<\/?[^\s>\/]+/,
                                'alias': 'keyword'
                            },
                            'attribute': {
                                'pattern': /[^\s>\/]+=(?:"[^"]*"|'[^']*'|[^\s"'=<>`]+)/,
                                'inside': {
                                    'attr-name': {
                                        'pattern': /^[^\s=]+/,
                                        'alias': 'attr-name'
                                    },
                                    'attr-value': {
                                        'pattern': /=(?:"[^"]*"|'[^']*'|[^\s"'=<>`]+)/,
                                        'inside': {
                                            'punctuation': /^=|^["']|["']$/,
                                            'string': {
                                                'pattern': /[^"']+/,
                                                'alias': 'attr-value'
                                            }
                                        }
                                    }
                                }
                            },
                            'punctuation': {
                                'pattern': /<\/?|\/?>/,
                                'alias': 'punctuation'
                            }
                        }
                    },
                    'text': {
                        'pattern': /.+/,
                        'alias': 'text'
                    }
                };

                // Stop the loop
                clearInterval(interval);

                // Refresh PrismJS highlighting
                Prism.highlightAll();
            }
        }, 1000);
    },
});

</script>


<!-- Page Header Content -->
<div>



</div>